html {
  margin: 0;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: Helvetica, Arial, sans-serif;
}

.card-container {
  width: 20%;
  border: 1px solid #999;
  border-radius: 1rem;
}



